<table class="goods-table">
  <thead>
    <th>Товар</th>
    <th>Цена</th>
    <th></th>
  </thead>
  <tbody>
    <% @goods.each do |good| %>
      <tr>
        <td><%= good.name %></td>
        <td><%= good.price %></td>
        <td><%= link_to("Удалить", cart_path(good.id), method: "DELETE") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
