<h2><%= I18n.t('cart.title') %></h2>

В вашей корзине <%= OnlineCart.ids(session: session).count %> товаров.

<% if OnlineCart.ids(session: session).count > 0 %>
  <% "TODO: Здесь мы используем отдельную копию partial-view для отображения таблицы с товарами. На данный момент единственная разница между partial-view из папки goods и папки carts в столбце со ссылками (добавить в корзину / удалить из корзины). Пока отличия небольшие, для упрощения нашего проекта лучше объеденить эти два partial-view в один." %>
  <%= render "table" %>
<% end %>
