<h2><%= I18n.t('goods.title') %></h2>

<p><%= link_to I18n.t('goods.your_cart', goods_count: "#{OnlineCart.ids(session: session).count} #{localize_goods(OnlineCart.ids(session: session).count)}"), cart_path %>

<% if @goods.size > 0 %>
  <%= render 'table' %>
<% else %>
  <%= I18n.t('goods.empty') %>
<% end %>
