<h2>Наши товары</h2>

<p><%= link_to "Ваша корзина (0 товаров)", cart_path %></p>

<% if @goods.size > 0 %>
  <%= render 'table' %>
<% else %>
  Извините, но в данный момент товары на складе отсутствуют!
<% end %>
