<%= link_to "Ваша корзина (0 товаров)", cart_path %>

<h3>Наши товары</h3>

<% if @goods.size > 0 %>
  <%= render 'table' %>
<% else %>
  Извините, но в данный момент товары на складе отсутствуют!
<% end %>
