<h1> Онлайн магазин </h1>

<div>
  Добро пожаловать в наш интернет-магазин OnlineShop. Здесь вы найдете множество товаров для вас и ваших родных.
</div>

<%= link_to "Корзина ()", "TODO" %>

<h3>Наши товары</h3>

<table class="goods-table">
  <thead>
    <th>Товар</th>
    <th>Цена</th>
    <th>В наличии?</th>
  </thead>
  <tbody>
    <!-- goods TODO: -->
  </tbody>
</table>
