body {
  padding: 0;
  margin: 0;
}

.languages-selector {
  float: right;
  width: 60px;
}

.languages-selector a:visited {
  color: black;
}

.languages-selector .active {
  color: blue !important;
}
