<div>
  <% render 'add_link' %>
</div>

<h3>Доступные товары</h3>

<% if @goods.size > 0 %>
  <%= render 'table' %>
<% else %>
  В данный момент товары на складе отсутствуют! <% render 'add_link' %>
<% end %>
